@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark&family=Roboto&display=swap');

:root {
  --dark-gray: #434343;
  --black: #000;
  --white: #fff;
  --light-gray: #bdc3C7;
  --light-green: #0c3;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: auto!important; 
  overflow-x: hidden!important;
}

body {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to top, #ffffff, #fcfcfd, #f8f9fa, #f5f6f8, #f1f3f6, #dee0e3, #cbcdd1, #b8bbbf, #92959a, #6e7176, #4c4f55, #2d2f35);
  width: auto;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 50px;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

h1 {
  font-family: 'Palanquin Dark', sans-serif;
  font-size: calc(2.5em + 1.5vw);
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-align:center; 
  color: var(--white);
  text-shadow: 2px 2px 4px var(--black);
  margin: 20px auto 10px;
}

.subContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  max-width: 1200px;
  margin: auto;
}

.puzzle {
  width: 50%;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px auto;
  padding: 0 20px;
}

.subPuzzle {
  width: 50vw;
  min-width: 280px;
  height: 38vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 25px;
  margin: 10px;
}

.table {
  display: table;
  width: 100%;
  height: 100%;
	max-width: 550px;
  margin: auto;
}

.row1,
.row2,
.row3 {
  display: table-row;
}

.p1, 
.p2, 
.p3, 
.p4, 
.p5, 
.p6, 
.p7, 
.p8, 
.p9 {
  display: table-cell;
  max-width: 120px;
  max-height: 120px !important;
  border: .5px solid white; 
  background-size: cover;
  cursor: pointer;
}

.p1 {
  background-image: url(./images/piece1.jpg);
}

.p2 {
  background-image: url(./images/piece2.jpg);
}

.p3 {
  background-image: url(./images/piece3.jpg);
}

.p4 {
  background-image: url(./images/piece4.jpg);
}

.p5 {
  background-image: url(./images/piece5.jpg);
}

.p6 {
  background-image: url(./images/piece6.jpg);
}

.p7 {
  background-image: url(./images/piece7.jpg);
}

.p8 {
  background-image: url(./images/piece8.jpg);
}

.p9 {
  background: var(--white); 
}

.btnNewGame {
  width: 180px;
  background: var(--light-green);
  color: var(--white);
  font-size: 1.4em;
  text-align: center;
  padding: 16px 20px;
  margin-top: 30px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  cursor: pointer;
  outline: none;  
}

.btnNewGame:hover {
  font-size: 1.5em;
  margin-top: 38px;
} 

.original {
  width: 45%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 25px auto;
  padding-bottom: 65px;
}

.original h3{
  font-family: 'Roboto', sans-serif;
  font-size: calc(1.1em + 1.5vw);
  text-align: center;
  color: var(--white);
  text-shadow: 2px 2px 4px var(--black);
  margin-top: 13px;
  margin-bottom: 10px;
  padding-bottom: 15px;
}

.originalPic {
  max-width: 550px;
  width: 90%;
  height: auto;
}


@media (orientation: portrait) {
  body {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}
